.App {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */

.App-header {
  background-color: #ffffff;
  border: 2px solid #cfcfcf;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.Content {
  width: 50%;
}

.Header {
  padding-left: 4em;
}

.Title-main {
  text-align: left;
  margin: 0%;
  font-size: calc(10px + 4vmin);
}

.Subtitle-main {
  text-align: left;
  margin-top: 0.25em;
  font-size: calc(10px + 0.8vmin);
  color: #848484;
}

.btn-img {
  height: 1em;
  margin-right: 1em;
}

.Location-btn {
  text-align: left;
  background-color: #ffffff;
  color: #000000;
  border: 1.5px solid #b9b9b9;
  align-items: center;
  border-radius: 24px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1em;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  touch-action: manipulation;
  width: auto;
}

.Location-btn:hover {
  background: #fafafa;
  color: #000000;
}

.Location-btn:active {
  outline: none;
  border: 2px solid #93c1fa;
}

.Location-btn:focus {
  outline: none;
  background: #fafafa;
}

/* List Styles */

.Provider-section {
  background-color: #f4f4f4;
  border: 2px solid #cfcfcf;
  border-top: none;
  padding-bottom: 2em;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.Providers-num {
  text-align: left;
  margin-top: 0.75em;
  font-size: calc(10px + 0.8vmin);
  color: #000000;
}

.Provider-tile{
  margin-top: 1em;
  padding: 1em;
  border-radius: 2px;
  background-color: #ffffff;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.Provider-tile:hover {
  background: #fafafa;
  color: #000000;
  border: 2px solid #c7c7c7;
}

.Provider-tile:active {
  outline: none;
  border: 2px solid #93c1fa;
}

.Provider-tile:focus {
  outline: none;
  background: #fafafa;
  border: 2px solid #c7c7c7;
}

.Provider-heading {
  display: grid;
  grid-template-columns: auto max-content;
  justify-content: left;
}

.Avatar-img {
  height: 4em;
  margin-right: 1em;
}

.Provider-right {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.Provider-Name {

}

.Provider-Bio {
  color: #282828;
}

.Provider-Availability {
  text-align: left;
  background-color: #e6e2ff;
  color: #000000;
  align-items: center;
  border-radius: 24px;
  box-sizing: border-box;
  display: inline-flex;
  height: 2.5em;
  overflow: visible;
  padding: 2px 24px;
}
