.App {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */

.app-header {
  background-color: #ffffff;
  border: 2px solid #cfcfcf;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.content {
  width: 50%;
}

.header {
  padding-left: 4em;
}

.title-main {
  text-align: left;
  margin: 0%;
  font-size: calc(10px + 4vmin);
}

.subtitle-main {
  text-align: left;
  margin-top: 0.25em;
  font-size: calc(10px + 0.8vmin);
  color: #848484;
}

.btn-img {
  height: 1em;
  margin-right: 1em;
}

.location-btn {
  text-align: left;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #b9b9b9;
  align-items: center;
  border-radius: 24px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1em;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  touch-action: manipulation;
  width: auto;
}

.location-btn:hover {
  background: #fafafa;
  color: #000000;
}

.location-btn:active {
  outline: none;
  border: 3px solid #93c1fa;
}

.location-btn:focus {
  outline: none;
  background: #fafafa;
}

/* Dropdown Menu Styles */

.dropdown-heading {
  color: #000000;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.5em;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  border: 2px solid #cfcfcf;
  top: calc(100% + .25em);
  background-color: white;
  padding: .75em;
  border-radius: .25em;
  box-shadow: 0 20px 15px 0 #0000006d;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

.dropdown-link {
  display: flex;
  flex-direction: column;
  gap: .25em;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* List Styles */

.provider-section {
  background-color: #f4f4f4;
  border: 2px solid #cfcfcf;
  border-top: none;
  padding-bottom: 2em;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.providers-num {
  text-align: left;
  margin-top: 0.75em;
  font-size: calc(10px + 0.8vmin);
  color: #000000;
}

.provider-tile{
  margin-top: 1em;
  padding: 1em;
  border-radius: 2px;
  background-color: #ffffff;
  cursor: pointer;
  border: 2px solid #ffffff;
}

.provider-tile:hover {
  background: #fafafa;
  color: #000000;
  border: 2px solid #c7c7c7;
}

.provider-tile:active {
  outline: none;
  border: 2px solid #93c1fa;
}

.provider-tile:focus {
  outline: none;
  background: #fafafa;
  border: 2px solid #c7c7c7;
}

.provider-split {
  display: grid;
  grid-template-columns: auto max-content;
  justify-content: left;
}

.provider-Name {
  font-size: 1.2em;
}

.avatar-img {
  height: 4em;
  margin-right: 1em;
}

.provider-right {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.provider-Bio {
  color: #282828;
}

.provider-Availability {
  text-align: left;
  background-color: #eff1fe;
  color: #000000;
  align-items: center;
  border-radius: 24px;
  box-sizing: border-box;
  display: inline-flex;
  height: 2.5em;
  overflow: visible;
  padding: 2px 24px;
}

/* Booking Styles */

.booking-page {
  background-color: #f4f4f4;
  border: 2px solid #cfcfcf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: #000000;
}

.booking-content {
  width: 60%;
  margin-bottom: 4vh;
}

.header-nav {
  font-size: 1em;
  padding: 1em 0em;
  margin: 1em;
}

.booking-row {
  display: flex;
}

.booking-left {
  padding: 0em 1em;
  flex: 30%;
}

.avatar-img-square {
  width: 100%;
  height: auto;
  border: 2px solid #cfcfcf;
}

.booking-right {
  flex: 70%;
}

.top, .bottom {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  padding: 1em;
  margin-bottom: 0.2em;
}

.info-row {
  display: flex;
}

.info-right {
  padding-top: 1em;
  flex: 80%;
}

.info-left {
  padding: 0em;
  flex: 10%;
}

.img {
  height: 4em;
  margin: 0em 0em 1em 0em;
}

.book-btn {
  text-align: left;
  background-color: #4b286d;
  color: #ffffff;
  border: 3px solid #4b286d;
  align-items: center;
  border-radius: 24px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1em;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  touch-action: manipulation;
  width: 100%;
}

.book-btn:hover {
  background: #613889;
  color: #ffffff;
}

.book-btn:active {
  outline: none;
  border: 3px solid #93c1fa;
}

.book-btn:focus {
  outline: none;
  background: #613889;
}